@media (min-width: 992px) and (max-width: 1490px) {
  :host {
    padding: 0px;
  }
}

.matches-scores__navigation {
  display: flex;
}

.matches-scores__navigation li {
  width: 50px;
}

.bracket-list li {
  width: auto;
  margin-right: 20px;
}

.bracket-type {
  display: flex;
  margin-bottom: 40px;
}

.bracket-type h2 {
  flex: 1;
  transition: color 0.3s ease;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
}
.bracket-type h2:hover {
  color: rgba(255, 255, 255, 1);
}
.bracket-type h2.active {
  color: #fff;
}

.bracket-type h2:last-child {
  text-align: right;
}
