
<div class="mt-sm-auto mb-sm-auto">
    <ul class="matches-scores__navigation js-filter">
        <li data-filter=".sep-18"><span>Feb</span>8th</li>
        <li data-filter=".oct-18"><span>Feb</span>9th</li>
    </ul>

    <div class="matches-filter">
        <label class="matches-filter__label">Team filter</label>
        <select class="cs-select">
            <option value="">All Teams</option>
            <option value="" selected>My Team</option>
        </select>
    </div>

    <div class="matches-scores row">
       <app-tournament-match-card class="col-md-12 col-lg-6"></app-tournament-match-card>
    </div>
</div>