@media (min-width: 992px) and (max-width: 1490px) {
  :host {
    padding: 0px;
  }
}

.matches-scores__navigation {
  display: flex;
}

.matches-scores__navigation li {
  width: 50px;
}

.bracket-list li {
  width: auto;
  margin-right: 20px;
}
