<div class="registration-overlay"></div>
<div class="registration-form">
    <ng-container *ngIf="step == 1">
        <h2 class="h4">Create a new team to register</h2>
        <p>This team will be temporarily created for the sole purpose of joining this tournament. Team will be disband automatically after tournament is finished.</p>
        <form class="form" [formGroup]="detailForm">
            <div class="error-list" *ngIf="errors && errors.length > 0">
                <ul>
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                        <label>Team Name</label>
                        <input type="text" class="form-control"  placeholder="e.g TSM.AU" formControlName="name" >
                        <span class="form-notice">This name will be displayed to other member.</span>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label>Represent your CLAN</label>
                        <select class="form-control" formControlName="isClan">
                            <option [ngValue]="opt.value" *ngFor="let opt of options">{{opt.name}}</option>
                        </select>
                        <span class="form-notice">Represent your CLAN to earn reputation for your clan.</span>
                    </div>
                </div> -->
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="step == 2">
        <h2 class="h4">Invite your teammate to <b>{{detailForm.get('name').value}}</b></h2>
            <div class="table-responsive mt-sm-auto mb-sm-auto">
                <p *ngIf="isLeader">Please invite your teammate by using Summoner Name.</p>
                <div class="table-actions" *ngIf="isLeader">
                    <input class="form-control" [(ngModel)]="inviteMemberName">
                    <button class="btn btn-secondary" [disabled]="submitDisable" (click)="inviteMember()">Invite</button>
                </div>
                <p *ngIf="isLeader">or you can send this invite link to your friends on this website, they will join the team when they click this link.</p>
                <div class="table-actions" *ngIf="isLeader">
                    <input class="form-control invite-link" readonly  [value]="inviteLink">
                    <button class="btn btn-secondary" *ngIf="!inviteLink" [disabled]="submitDisable" (click)="getInviteCode()">Get Invite Link</button>
                    <button class="btn btn-secondary" *ngIf="inviteLink" [cdkCopyToClipboard]="inviteLink"  (click)="copyLink()">Copy Link</button>
                </div>
                <table class="table matches-table">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Summoner ID</th>
                            <th>Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of members">
                            <td>{{member.userName}}</td>
                            <td>{{member.gameId}}</td>
                            <td>{{getPositonText(member.position)}}</td>
                            <td><button class="btn-danger" [disabled]="submitDisable" *ngIf="isLeader" (click)="kick(member.id)">remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </ng-container>
  
    <div class="form-group d-sm-flex justify-content-sm-between align-items-sm-center action-bar">
        <button class="btn btn-normal" [disabled]="submitDisable" (click)="discard()">Close</button>
        <button class="btn btn-danger" [disabled]="submitDisable" (click)="disband()" *ngIf="step == 2 && isLeader">Disband</button>
        <button class="btn btn-danger" [disabled]="submitDisable" (click)="quit()" *ngIf="step == 2 && !isLeader">widthdraw</button>
        <button class="btn btn-secondary" [disabled]="submitDisable" (click)="register()" *ngIf="step == 1" >Next</button>
    </div>
    <ng-container>
        <h2 class="h4 line-breaker"></h2>
        <p>In this section, we are showing 2 teams that you have recently created. the member is seperated by comma and do not include the leader</p>
        <div class="table-responsive mt-sm-auto mb-sm-auto">
            <table class="table matches-table standings-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Members (Summoner Name)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of (state.recentTeams$ | async); let i = index">
                        <td>{{team.name}}</td>
                        <td>{{getTeamMember(team.members)}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>
