@import "../../../../../styles.scss";

h2,
h5,
p,
input,
input:focus,
select,
select:focus {
  color: #fff;
}

select option {
  color: #222;
}

.table thead th {
  border: none;
}

.table tbody td {
  text-transform: none !important;
}

.table-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table-actions button {
  padding: 5px 15px;
}

.matches-table {
  margin-bottom: 20px;
}

.matches-table button {
  border: none;
}

.btn-normal {
  color: #fff;
  border: 1px #fff solid;
}

.invite-link:read-only {
  background-color: transparent !important;
  border-bottom: 1px solid #dfe0e5 !important;
}

.standings-table thead th:first-child,
.standings-table tbody td:first-child {
  width: 200px !important;
  text-align: left;
  padding-right: 24px;
}

.line-breaker {
  border-top: solid 1px #ddd;
  padding-top: 20px;
}

button.btn-secondary {
  width: 120px;
}
