<h1 class="page-title h3">Must Read Before Join</h1>
        <div class="page-content">
            <div class="accordion" id="accordionFaqs">
                <div class="accordion-item">
                    <div class="accordion-item__header" id="headingOne">
                        <button class="accordion-item__link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           What is the rule?
                            <span class="accordion-item__icon">&nbsp;</span>
                        </button>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFaqs">
                        <div class="accordion-item__body" [innerHTML]="(state.detail$ | async).tournamentRule">
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item__header" id="headingTwo">
                        <button class="accordion-item__link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Are we / Am I qualified to join this tournament?
                            <span class="accordion-item__icon">&nbsp;</span>
                        </button>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFaqs">
                        <div class="accordion-item__body" [innerHTML]="(state.detail$ | async).description">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item__header" id="headingThree">
                        <button class="accordion-item__link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            What happen if I don't have a team.
                            <span class="accordion-item__icon">&nbsp;</span>
                        </button>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFaqs">
                        <div class="accordion-item__body">
                            Well become a Free Agent, Fill in the form and we will post your information in #🔍find-players for teams or players to find you!
You Will be granted the Free Agent role so that you can be found more easily
<br>
                            Fill This form in to be shown.
                            <br>
                            <a href="https://forms.gle/BDsB9YVSFS1nwtQF8">https://forms.gle/BDsB9YVSFS1nwtQF8   </a>                     </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item__header" id="headingFour">
                        <button class="accordion-item__link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            How is the prize distributed?
                            <span class="accordion-item__icon">&nbsp;</span>
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFaqs">
                        <div class="accordion-item__body" [innerHTML]="(state.detail$ | async).prizeText">
                        </div>
                    </div>
                </div>
            </div>
        </div>