<td class="product__info">
  <figure class="product__thumb">
    <a><img  [src]="data.team.iconUrl" alt=""></a>
  </figure>
  <div class="product__info-content">
    <h5 class="product__name"><a>Clan Invitation</a></h5>
    <span class="product__cat">{{data.team?.clanSubTitle}}</span>
    <span class="product__info-details notification-detail">you have received an invitation from team ({{data.team?.name}}).</span>
  </div>
</td>
<td class="product__remove" >
  <a (click)="accept(data.id)" >
    <svg role="img" class="df-icon df-icon--bag"  ><use xlink:href="assets/img/necromancers.svg#thumb-up"></use></svg>
  </a>

</td>
<td class="product__remove">
  <a (click)="reject(data.id)">
    <svg role="img" class="df-icon df-icon--bag" ><use xlink:href="assets/img/necromancers.svg#close"></use></svg>
  </a>
 
</td>