<div class="row">
    <div class="col-md-12">
        <h5>Please reset your password.</h5>
        <form action="#" class="form login-form" [formGroup]="registerForm">
            <div class="error-list" *ngIf="errors && errors.length > 0">
                <ul>
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="input-email-1" placeholder="New Password*" formControlName="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="input-email-1" placeholder="Repeat New Password*" formControlName="confirmPassword">
            </div>
            <button type="button" class="btn btn-block login-form__button"  [disabled]="submitDisable" (click)="resetpassword()">Reset Password</button>
        </form>
    </div>
</div>
