<div class="team-carousel__item" data-icon="team-overview">
    <div class="row">
        <div class="col-lg-11">
            <h3 class="player-info-subtitle h4 text-uppercase">Lit Team</h3>
            <h2 class="player-info-title h1 text-uppercase">{{ (state.overview$ | async).name }}</h2>
            <div class="row">
                <div class="col-6 col-md-6 col-xl-4">
                    <div class="player-info-detail">
                        <div class="player-info-detail__label">Region</div>
                        <div class="player-info-detail__title">OCE</div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-xl-4">
                    <div class="player-info-detail">
                        <div class="player-info-detail__label">Created Since</div>
                        <div class="player-info-detail__title"></div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-xl-4">
                    <div class="player-info-detail">
                        <div class="player-info-detail__label">Tournament Champions</div>
                        <div class="player-info-detail__title color-primary"></div>
                    </div>
                </div>
            </div>
            <!-- <p>
                (not implemented)Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p> -->
        </div>
    </div>
</div>