<div class="team-selection-item team-selection-item--style-2 team-1 text-center">
    <a class="team-selection-item__thumbnail">
        <div class="team-selection-item__thumbnail-inner">
            <img src="assets/img/samples/team-selection-thumb-01.jpg" alt="">
            <img src="assets/img/samples/team-selection-thumb-team.png" alt="">
        </div>
    </a>
    <img class="team-selection-item__logo team-selection-item__logo--bottom" [src]="team.leaderIcon" srcset="assets/img/team-selection-logo-01-140.png 2x" alt="">
    <span class="team-selection-item__subtitle h6">{{team.registrationStatus}}</span>
    <h2 class="team-selection-item__title">{{team.name}}</h2>
</div>