<h2 class="h4">01. Account Details</h2>
<form action="" class="form" [formGroup]="detailForm">
	<div class="error-list" *ngIf="errors && errors.length > 0">
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Your Email</label>
				<input type="text" class="form-control"  placeholder="Email*" disabled value="{{(auth.currentUserSubject | async)?.user?.email}}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control"  placeholder="Your Username*" formControlName="gameId">
				<span class="form-notice" >People will see this username when you comment</span>
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Mobile Number</label>
				<input type="text" class="form-control"  placeholder="Mobile Number e.g 0430124331" formControlName="phone">
				<span class="form-notice" *ngIf="isVerified == false">We need your phone number to verify your account.</span>
				<span class="form-notice success" *ngIf="isVerified == true">Your mobile number has been verified</span>
			</div>
		</div>
	
	</div>
	<div class="form-group d-sm-flex justify-content-sm-between align-items-sm-center">
		<button class="btn btn-secondary" (click)="save()">Save Changes</button>
	</div>
</form>