<!-- <div class="widget-area widger-area--before-loop">
    <div class="widget widget-carousel slick-slider">
      <article class="widget-carousel__item player bg-image bg--ph-03">
        <div class="player__subtitle h6">Welcome</div>
        <h1 class="player__title h3 color-primary">JULIE_NOIRE</h1>
        <div class="player__body">
          <div class="h5">To the <span class="color-primary">Xenovrese</span> team!</div>
        </div>
        <div class="player__thumbnail">
          <img src="assets/img/samples/team-info-page-player-photo-03.png" alt="">
          <a href="team-player-3.html" class="more-info-link h6"><span class="add-icon"></span>More info</a>
        </div>
      </article>
      <article class="widget-carousel__item player bg-image bg--ph-05">
        <div class="player__subtitle h6">Congratulations!</div>
        <h1 class="player__title h3">Crazzzy_80</h1>
        <div class="player__body">
          <div class="h5 color-primary">Reached 10k twitch subs</div>
        </div>
        <div class="player__thumbnail">
          <img src="assets/img/samples/team-info-page-player-photo-04.png" alt="">
          <a href="team-player-4.html" class="more-info-link h6"><span class="add-icon"></span>More info</a>
        </div>
      </article>
      <article class="widget-carousel__item player bg-image bg--ph-06">
        <div class="player__subtitle h6">Featured player</div>
        <h1 class="player__title h3 color-warning">G-Huntress</h1>
        <div class="player__body">
          <ul class="player__stats">
            <li class="counter">
              <div class="counter__number">28</div>
              <div class="counter__label">Games</div>
            </li>
            <li class="counter">
              <div class="counter__number">73</div>
              <div class="counter__label">Kills</div>
            </li>
            <li class="counter">
              <div class="counter__number">96</div>
              <div class="counter__label">Win %</div>
            </li>
          </ul>
        </div>
        <div class="player__thumbnail">
          <img src="assets/img/samples/team-info-page-player-photo-02.png" alt="">
          <a href="team-player-2.html" class="more-info-link h6"><span class="add-icon"></span>More info</a>
        </div>
      </article>
    </div>
  </div> -->
<div class="content blog-layout--style-1">
  <article class="post has-post-thumbnail">
    <div class="post__thumbnail">
      <a><img src="assets/img/samples/news-v1-post-img-01.jpg" alt="" /></a>
    </div>
    <div class="post__body">
      <div class="post__header">
        <ul class="post__cats list-unstyled">
          <li class="post__cats-item color-warning">
            <a>Announcement</a>
          </li>
        </ul>
        <h2 class="post__title h4">
          <a>Lit Team Website is in 2nd Beta test.</a>
        </h2>
        <ul class="post__meta list-unstyled">
          <li class="post__meta-item post__meta-item--date">
            <a>Start from 15th Mar</a>
          </li>
        </ul>
      </div>
      <div class="post__excerpt">
        To consolidate the tournament feature on our website, we decide to run 3
        weeks exclusive tournament testing, teams who participated will have
        reward at the end.<br />
        apply our testing tournament, please filled out this form:
        <a>https://forms.gle/7BpCSx49Xfd4tZ2E8</a>
      </div>
    </div>
  </article>
  <article class="post has-post-thumbnail">
    <div class="post__thumbnail">
      <a
        ><img
          src="https://cdn.discordapp.com/attachments/783936529533239297/827391791938273311/7th-4_2_v_2_SQUARE_.jpg"
          alt=""
      /></a>
    </div>
    <div class="post__body">
      <div class="post__header">
        <ul class="post__cats list-unstyled">
          <li class="post__cats-item color-success">
            <a>Tournaments</a>
          </li>
        </ul>
        <h2 class="post__title h4">
          <a href="blog-post.html">Weekly Champion Rotate 2v2!</a>
        </h2>
        <ul class="post__meta list-unstyled">
          <li class="post__meta-item post__meta-item--date">
            <a>7th April</a>
          </li>
        </ul>
      </div>
      <div class="post__excerpt">
        Tired of being unable to find buddies for 5v5s? We're now offering 2v2
        Tournaments
      </div>
    </div>
  </article>
  <article class="post has-post-thumbnail">
    <div class="post__thumbnail">
      <a
        ><img
          src="https://cdn.discordapp.com/attachments/783936529533239297/827406785618378772/Easter_sqaure.jpg"
          alt=""
      /></a>
    </div>
    <div class="post__body">
      <div class="post__header">
        <ul class="post__cats list-unstyled">
          <li class="post__cats-item color-warning">
            <a>Announcement</a>
          </li>
        </ul>
        <h2 class="post__title h4"><a>Easter Event!</a></h2>
        <ul class="post__meta list-unstyled">
          <li class="post__meta-item post__meta-item--date">
            <a>03/04/2021 - 30/04/2021</a>
          </li>
        </ul>
      </div>
      <div class="post__excerpt">
        <p>
          Players need to complete Easter tasks through the unique storyline (4
          Chapters) of Litteam Easter event. The Litteam Easter sees you siding
          with main charaters (Lulu, Riven, Fizz & Ivern) forces to embark on
          unique missions, and ultimately determine the fate of the Easter
          Village.
        </p>
        <p><b>Prizing Pool: Up to $300</b></p>
      </div>
    </div>
  </article>
</div>
