<h2 class="h4" *ngIf="!hasClan">Start a new clan</h2>
<div class="clan-icon" >
	<img [src]="clanIcon">
</div>

<div class="clan-tab">
	<a  [ngClass]="{'btn-secondary':tabState == 1 }" (click)="tabState = 1">
		Basic Information
	</a>
	<a  [ngClass]="{'btn-secondary':tabState == 2 }" (click)="tabState = 2">
		Manage Members
	</a>
</div>
<form action="" class="form" [formGroup]="detailForm" *ngIf="tabState == 1">
	<div class="error-list" *ngIf="errors && errors.length > 0">
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>
	<h5 class="h6" *ngIf="!hasClan">01. Upload Clan Icon</h5>
	<div class="row" *ngIf="!hasClan">
		<div class="col-md-6">
            <div class="form-group">
				<label>Clan Icon (Cannot be changed after)</label>
				<input type="file" class="form-control" accept=".png,.jpg,.jpeg" 
				(change)="onFileChange($event)" >
				<span>Inapporiate icon will result in permanent ban on your Lit Team Account.</span>
			</div>
		</div>
	</div>
    <h5 class="h6">{{hasClan ? '01' : '02'}}. Clan Basic Information</h5>
	<div class="row">
		<div class="col-md-6" >
            <div class="form-group">
				<label>Clan Name</label>
				<input type="text" class="form-control" [readonly]="hasClan" placeholder="e.g TSM.AU" formControlName="name" >
				<span *ngIf="hasClan">If you wish to change your Clan Name, please contact our admins</span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Clan subtitle</label>
				<input type="text" class="form-control" formControlName="clanSubTitle"  placeholder="e.g the best clan in lit team." >
				<span class="form-notice">A short description of the clan.</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label>Tell us about your clan.</label>
				<textarea class="form-control" formControlName="clanDescription"  ></textarea>
                <span class="form-notice">No more than 200 characters</span>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label>What do you want to say to other members?(recruitment annoucement)</label>
				<textarea class="form-control" formControlName="clanRecruitment" ></textarea>
                <span class="form-notice">No more than 200 characters</span>
			</div>
		</div>
	</div>
    <h5 class="h6">03. Clan Social Media</h5>
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Clan Website</label>
				<div class="social-media-input">
					<span></span>
					<input class="form-control" placeholder="https://litteam.gg" formControlName="clanWebsite">
				</div>
				
			</div>
		</div>
        <div class="col-md-6">
			<div class="form-group">
				<label>Clan Facebook</label>
				<div class="social-media-input">
					<span>https://www.facebook.com/</span>
					<input class="form-control" placeholder="oceLitteam"  formControlName="clanFacebook">
				</div>
		
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Clan Instagram</label>
				<div class="social-media-input">
					<span>https://www.instagram.com/</span>
					<input class="form-control" placeholder="oceLitteam" formControlName="clanInstagram">
				</div>
			</div>
		</div>
        <div class="col-md-6">
			<div class="form-group">
				<label>Clan Discord</label>
				<div class="social-media-input">
					<span>https://discord.gg/</span>
					<input class="form-control" placeholder="oceLitteam" formControlName="clanDiscord">
				</div>
				
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Clan Twitter</label>
				<div class="social-media-input">
					<span>https://twitter.com/</span>
					<input class="form-control" placeholder="oceLitteam" formControlName="clanTwitter">
				</div>
		
			</div>
		</div>
	</div>
	<div class="form-group d-sm-flex justify-content-sm-between align-items-sm-center action-bar">
		<button class="btn btn-danger" [disabled]="submitDisable" (click)="disband()">Disband</button>
		<button class="btn btn-secondary" [disabled]="submitDisable" (click)="submit()">{{ hasClan ? "Save" : "Create"}}</button>
	</div>
</form>

<div class="table-responsive mt-sm-auto mb-sm-auto" *ngIf="tabState == 2">
	<p>
		Please be careful with <b>edit</b>  permission, once you give the <b>edit</b> permission to other member, they can change everything to your Clan (including change other member's permissions.).
	</p>
	<div class="table-actions">
		<input class="form-control" placeholder="username e.g litteamaccount" [(ngModel)]="inviteMemberName">
		<button class="btn btn-secondary" [disabled]="submitDisable" (click)="inviteMember()">Invite</button>
		
	</div>
	
	<table class="table matches-table">
		<tbody>
			<tr *ngFor="let member of members">
				<td>{{member.gameId}} {{member.isLeader ? '(Owner)' : ''}}</td>
				<td>{{member.acceptedDate | date : 'dd/MM/yyyy'}}</td>
				<td class="standings-table__losses" ><span *ngIf="!member.isLeader">Allow Edit <input type="checkbox" [checked]="member.canEdit" (change)="memberChange(member.id,$event,'edit')"></span></td>
				<td class="standings-table__losses" ><span *ngIf="!member.isLeader">Allow Invite <input type="checkbox" [checked]="member.caninvite" (change)="memberChange(member.id,$event,'invite')"></span></td>
				<td class="standings-table__losses" > <span *ngIf="!member.isLeader">Allow Kick <input type="checkbox" [checked]="member.canKick" (change)="memberChange(member.id,$event,'kick')"></span></td>
				<td><button class="btn btn-secondary" [disabled]="submitDisable" (click)="updateMember(member)" *ngIf="!member.isLeader">Change</button></td>
				<td><button class="btn btn-danger" [disabled]="submitDisable" (click)="kickMember(member)" *ngIf="!member.isLeader">Kick</button></td>
			</tr>
		</tbody>
	</table>
</div>