<div class="container container--large">
    <div class="page-heading page-heading--default text-center w-100">
        <div class="page-heading__subtitle h5">
            <span class="color-primary">Please select A</span>
        </div>
        <h1 class="page-heading__title h2">Upcoming Tournaments</h1>
    </div>
    <div class="matches-filter">
        <label class="matches-filter__label">Tournament Filter</label>
        <select class="cs-select">
            <option value="" selected>Upcoming Tournament</option>
            <option value="">Featured Tournament</option>
            <option value="">Past Tournament</option>
        </select>
    </div>
    <div class="row mt-sm-auto mb-sm-auto">
        <tournament-card class="col-sm-6 col-lg-3" [getTour]="tourney" *ngFor="let tourney of tournamentsList"></tournament-card>
    </div>
</div>