<div class="row">
    <div class="col-md-12">
        <h5>We need your email address so we can sent a password reset email to you .</h5>
        <form action="#" class="form login-form" [formGroup]="loginForm">
            <div class="error-list" *ngIf="errors && errors.length > 0">
                <ul>
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="input-email-1" placeholder="Your Email*" formControlName="email">
            </div>
            <button type="button" class="btn btn-block login-form__button"  [disabled]="submitDisable" (click)="resetpassword()">Send Reset Password</button>
        </form>
    </div>
</div>
