@import "../../../../styles.scss";

.scrim-table {
  padding-bottom: 20px;
  width: 100%;
  overflow-y: auto;
}
.scrim-table table {
  width: 100%;
  min-width: 450px;
  max-width: 900px;
}

.scrim-table table th {
  color: $lt-light-text-color;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px;
  text-align: center;
}

.scrim-table table td {
  color: #fff;
  background-color: $lt-border-color;
  padding: 20px 12px;
  text-align: center;
}
.scrim-table table tr:first-child {
  border: none;
}
.scrim-table table tbody tr {
  border-bottom: solid 1px $lt-light-text-color;
}

.scrim-table table tbody tr:last-child {
  border-bottom: none;
}
.scrim-table table tbody tr td {
  position: relative;
}

.scrim-table table tbody tr td:last-child {
  text-align: center;
}
