<div class="container container--large">
    <div class="page-heading page-heading--default">
        <div class="page-heading__subtitle h5 color-primary">Lit Team</div>
        <h1 class="page-heading__title h2">All Clans</h1>
    </div>
    <div class="matches-filter">
        <form>
            <input type="text" placeholder="search for team name" [formControl]="teamSearch">
        </form>
        
    </div>
    <div class="table-responsive mt-sm-auto mb-sm-auto">
        <table class="table matches-table standings-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Clan Name</th>
                    <th>Wins</th>
                    <th>Clan Points</th>
                    <th>Clan Level</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of _teams;let i = index" [routerLink]="['/team-detail/',team.id]">
                    <td>{{i + 1}}</td>
                    <td class="standings-table__team">
                        <figure class="match-team" role="group">
                            <img [src]="team.iconUrl"  alt="Lit Team Team Icon">
                            <figcaption>
                                <div class="match-team__name">{{team.name}}</div>
                                    <div class="match-team__country ">None</div>
                            </figcaption>
                        </figure>
                    </td>
                    <td class="standings-table__wins">{{team.wins}}</td>
                    <td>not implemented</td>
                    <td>not implemented</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>