<td class="product__info">
    <figure class="product__thumb">
        <a><img   src="../../../../assets/img/team-selection-logo-02-70.png"></a>
    </figure>
    <div class="product__info-content">
      <h5 class="product__name"><a>Scrim Join</a></h5>
      <span class="product__cat">{{data.name}}</span>
      <span class="product__info-details notification-detail">This clan requests to join your scrim.</span>
    </div>
</td>
<td class="product__remove">
  <a [routerLink]="['scrims/manage']" (click)="state.archiveNotification(notificationId,index)">
    <svg role="img" class="df-icon df-icon--bag" ><use xlink:href="assets/img/necromancers.svg#right-arrow"></use></svg>
  </a>
</td>
<td class="product__remove">
  <i class="fas fa-minus-circle archive" title="archive" (click)="state.archiveNotification(notificationId,index)"></i>
</td>
