.match-state-replace-code {
  max-width: 500px;
}

.get-code {
  cursor: pointer;
  opacity: 0.7;
}

.get-code:hover {
  opacity: 1;
}

button.get-code {
  border: none;
}

.state-code-list {
  margin-right: 20px;
}

.match-stats-widget--general
  .match-stats-widget__body.reverse
  > li
  > span:first-child {
  color: #fff;
}

.match-stats-widget--general
  .match-stats-widget__body.reverse
  > li
  > span:last-child {
  color: #5e627e;
}

.state-code-list {
  font-size: 1.4rem;
}
