@import "../../../../../styles.scss";
:host {
  max-width: 960px;
  min-width: 420px;
  width: 100%;
}
.scrim-section-header,
.time-block-container,
.scrim-table,
.scrim-controller {
  width: 100%;
  overflow-y: auto;
}

.scrim-controller button {
  border: none;
  outline: none;
  margin-right: 20px;
  background-color: rgb(255, 224, 0);
  color: #222;
}

.scrim-controller button:active {
  outline: none;
  border: none;
}

.time-block-container {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.scrim-section-header * {
  color: #fff;
}
.scrim-section-header.filter {
  margin-top: 20px;
}
.scrim-section-header .row {
  margin: 0 !important;
}
.scrim-section-header div[class^="col-"] {
  margin-right: 12px;
  padding: 0 !important;
}

.scrim-section-header div[class^="col-"] .form-group {
  margin: 0;
}

.scrim-section-header .form-control option {
  color: #222 !important;
}

.scrim-section-sperator {
  height: 2px;
  width: 100%;
  background-color: $lt-border-color;
  margin: 20px 0;
}
