<div class="menu-panel__content d-none d-md-flex">
  <div class="menu-panel__navigation">
    <div id="dl-menu" class="dl-menuwrapper">
      <!-- <button class="dl-trigger">Open Menu</button> -->
      <ul class="dl-menu dl-menuopen">
        <li [ngClass]="{'active':app.routeState == 1 }">
          <a [routerLink]="['home']">Home</a>
        </li>
        <li [ngClass]="{'active':app.routeState == 2 }"><a [routerLink]="['upcoming-tournaments']">Tournaments</a>
        </li>
        <li [ngClass]="{'active':app.routeState == 7 }"><a [routerLink]="['easter-event']">Easter</a>
        </li>
        <!-- <li [ngClass]="{'active':app.routeState == 3 }"><a href="#">Steams and Videos</a>
          <ul class="dl-submenu">
            <li class=""><a >Lives</a></li>
            <li class=""><a >Streamers</a></li>
            <li class=""><a >Youtubers</a></li>
          </ul>
        </li>
        <li [ngClass]="{'active':app.routeState == 4 }"><a href="#">Coaching</a>
          <ul class="dl-submenu">
            <li class=""><a >Coaches</a></li>
            <li class=""><a >Free Hours</a></li>
          </ul>
        </li>
        <li [ngClass]="{'active':app.routeState == 5 }">
          <a href="#">Shop</a>
          <ul class="dl-submenu">
            <li class=""><a >Our Product</a></li>
            <li class=""><a >Litcoin Shop</a></li>
          </ul>
        </li>
        <li [ngClass]="{'active':app.routeState == 6 }">
          <a [routerLink]="['teams']">Clans</a>
        </li> -->
        <li>
          <a  [routerLink]="['sign']" *ngIf="!auth.isLogined()">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu-panel__widget-area">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-5">
        <!-- Widget: Text -->
        <section class="widget widget-text">
          <h5 class="widget__title">Join our team</h5>
          <div class="widget__content">
            <p>
              We’re always looking for new talent to join our teams. If you wanna join us, just send us and email and we’ll get back to you!
            </p>
            <div class="info-box">
              <div class="info-box__label">Lit Teams - Recruiter</div>
              <div class="info-box__content"><a href="mailto:#">ocelitteamofficial<span class="color-primary">@</span>gmail.com</a></div>
            </div>
            <div class="info-box">
              <div class="info-box__label">Be our partner!</div>
              <div class="info-box__content"><a href="mailto:#">ocelitteamofficial<span class="color-primary">@</span>gmail.com</a></div>
            </div>
          </div>
        </section>
        <!-- Widget: Text / End -->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-2 mt-5 mt-lg-0">
        <!-- Widget: Contact Info -->
        <section class="widget widget-contact-info">
          <h5 class="widget__title">Contact Info</h5>
          <div class="widget__content">
            <p>
              If you have any questions, just send us and email and don’t forget to follow and like all our social accounts to keep updated!
            </p>
            <div class="info-box">
              <div class="info-box__label">General inquiries</div>
              <div class="info-box__content"><a href="mailto:#">ocelitteamofficial<span class="color-primary">@</span>gmail.com</a></div>
            </div>
            <ul class="social-menu social-menu--default">
              <li><a href="https://www.facebook.com/litteam.oce" target="_blank"></a></li>
              <li><a href="https://twitter.com/" target="_blank"></a></li>
              <li><a href="https://twitch.tv" target="_blank"></a></li>
              <li><a href="https://discord.gg/Zg73cvsJgJ" target="_blank"></a></li>
            </ul>
          </div>
        </section>
        <!-- Widget: Contact Info / End -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Widget: Partners Carousel -->
        <section class="widget widget-partners-carousel">
          <h5 class="widget__title">Our Partners</h5>
          <div class="widget__content">
            <ul>
              <!-- <li>
                <img src="assets/img/samples/partner-carousel-img-01.png" alt="">
              </li>
              <li>
                <img src="assets/img/samples/partner-carousel-img-02.png" alt="">
              </li>
              <li>
                <img src="assets/img/samples/partner-carousel-img-03.png" alt="">
              </li>
              <li>
                <img src="assets/img/samples/partner-carousel-img-01.png" alt="">
              </li>
              <li>
                <img src="assets/img/samples/partner-carousel-img-02.png" alt="">
              </li>
              <li>
                <img src="assets/img/samples/partner-carousel-img-03.png" alt="">
              </li> -->
            </ul>
          </div>
        </section>
        <!-- Widget: Partners Carousel / End -->
      </div>
    </div>
  </div>
</div>