@media (min-width: 992px) {
  :host {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 66.66666%;
    flex: 1 0 66.66666%;
  }
}

@media (min-width: 768px) {
  :host {
    padding: 78px;
  }
}

@media (min-width: 576px) {
  :host {
    padding: 50px calc(34px + 15px) 64px;
  }
}

:host {
  width: 100%;
  padding: 50px 24px;
}

@media (min-width: 992px) {
  :host {
    min-height: calc(100vh - 72px);
  }
}
