<h2 class="h4">01. Account settings</h2>
				<form action="" class="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="input-name" placeholder="Your Name*">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" id="input-email" placeholder="Email*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="input-username" placeholder="Username">
								<span class="form-notice">People will see this username when you comment</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" id="input-website" placeholder="Website">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="password" class="form-control" id="input-password" placeholder="Change Password">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="password" class="form-control" id="input-password-2" placeholder="Repeat Password">
							</div>
						</div>
					</div>
					<div class="form-group d-sm-flex justify-content-sm-between align-items-sm-center">
						<label class="checkbox checkbox-inline">
							<input class="checkbox-input" type="checkbox" name="subscribe" id="subscribe" checked> Send me news and discounts to my email<span class="checkbox-label">&nbsp;</span>
						</label>
						<button class="btn btn-secondary">Save Changes</button>
					</div>
				</form>