.second-section {
  margin-top: 40px;
}

.social-media-input {
  background-color: transparent;
  border-bottom: 1px solid #dfe0e5;
  display: flex;
}

.social-media-input input {
  border-bottom: none;
  font-weight: 700;
}

.social-media-input span {
  cursor: default;
}
