<div class="header-actions">
  <!-- <div class="header-pagination header-werido" >
    <a href="#" class="header-scroll-arrow header-scroll-arrow--left">
      <svg role="img" class="df-icon df-icon--left-arrow">
        <use xlink:href="assets/img/necromancers.svg#left-arrow"/>
      </svg>
    </a>
    <ol class="header-pagination--list">
      <li><a href="#">01</a></li>
      <li><a href="#">02</a></li>
      <li><span>...</span></li>
      <li><a href="#">08</a></li>
    </ol>
    <a href="#" class="header-scroll-arrow header-scroll-arrow--right">
      <svg role="img" class="df-icon df-icon--right-arrow">
        <use xlink:href="assets/img/necromancers.svg#right-arrow"/>
      </svg>
    </a>
  </div> -->
  <!-- <div class="header-filter-toggle">
    <svg role="img" class="df-icon df-icon--filter">
      <use xlink:href="assets/img/necromancers.svg#filter"/>
    </svg>
    <div class="filter-menu">
      <form action="#" class="filter-menu__form">
        <div class="filter-menu__select">
          <label class="filter-menu__label">Category</label>
          <select class="cs-select">
            <option value="" selected>All Categories</option>
            <option value="">Esports</option>
            <option value="">Gaming</option>
            <option value="">Videos</option>
          </select>
        </div>
        <div class="filter-menu__select">
          <label class="filter-menu__label">Filter By</label>
          <select class="cs-select">
            <option value="" selected>Article Date</option>
            <option value="">Comments</option>
            <option value="">Popularity</option>
          </select>
        </div>
        <div class="filter-menu__select">
          <label class="filter-menu__label">Order</label>
          <select class="cs-select">
            <option value="" selected>Ascending</option>
            <option value="">Descending</option>
          </select>
        </div>
        <div class="filter-menu__submit">
          <button type="submit" class="btn btn-primary btn-sm btn-block">Filter News</button>
        </div>
      </form>
    </div>
  </div> -->
<!-- <div class="header-top-bar-toggle d-md-none hide">
  <svg role="img" class="df-icon df-icon--joystick">
    <use xlink:href="assets/img/necromancers.svg#joystick"/>
  </svg>
  <svg role="img" class="df-icon df-icon--close">
    <use xlink:href="assets/img/necromancers.svg#close"/>
  </svg>
</div> -->
<!-- <div class="header-social-toggle d-none d-md-block">
  <svg role="img" class="df-icon df-icon--thumb-up">
    <use xlink:href="assets/img/necromancers.svg#thumb-up"/>
  </svg>
  <span class="header-social-toggle__plus">&nbsp;</span>
  <ul class="social-menu social-menu--header">
    <li><a href="https://discord.gg/xxxx"><span class="link-subtitle">Discord</span>Necrochat</a></li>
    <li><a href="https://twitch.tv/"><span class="link-subtitle">Twitch</span>Necroplay</a></li>
    <li><a href="https://twitter.com/danfisher_dev"><span class="link-subtitle">Twitter</span>Necrotwt</a></li>
    <li><a href="https://www.facebook.com/danfisher.dev/"><span class="link-subtitle">Facebook</span>Necrogame</a></li>
  </ul>
</div> -->
<div class="header-cart-toggle header-werido"  [hidden]="!auth.isLogined()">
  <svg role="img" class="df-icon df-icon--bag">
    <use xlink:href="assets/img/necromancers.svg#bag"/>
  </svg>
  <svg role="img" class="df-icon df-icon--close">
    <use xlink:href="assets/img/necromancers.svg#close"/>
  </svg>
  <span class="header-cart-toggle__items-count">4</span>
</div>
<div class="header-fire-toggle header-werido"  [hidden]="!auth.isLogined()">
  <svg role="img" class="df-icon df-icon--fire">
    <use xlink:href="assets/img/necromancers.svg#damage"/>
  </svg>
  <svg role="img" class="df-icon df-icon--close">
    <use xlink:href="assets/img/necromancers.svg#close"/>
  </svg>
  <span class="header-cart-toggle__items-count" [hidden]="(app.invitations$ | async).length == 0">{{(app.invitations$ | async).length}}</span>
</div>
<div class="header-search-toggle header-werido">
  <svg role="img" class="df-icon df-icon--search">
    <use xlink:href="assets/img/necromancers.svg#search"/>
  </svg>
  <svg role="img" class="df-icon df-icon--search-close">
    <use xlink:href="assets/img/necromancers.svg#search-close"/>
  </svg>
</div>
<div class="header-account hide"  [hidden]="!auth.isLogined()">
  <div class="header-account__avatar">
    <img src="assets/img/samples/account-user-avatar.jpg" srcset="assets/img/samples/account-user-avatar@2x.jpg 2x" alt="">
  </div>
  <div class="header-account__body">
    Hello!
    <div class="header-account__name"> {{(auth.currentUserSubject | async).user.gameId }}</div>
  </div>
  <div class="header-account__icon">
    <a [routerLink]="['/account/setting']">
      <svg role="img" class="df-icon df-icon--account">
        <use xlink:href="assets/img/necromancers.svg#account"/>
      </svg>
    </a>
    <a href="#" title="logout" (click)="auth.logout()">
      <svg role="img" class="df-icon df-icon--logout">
        <use xlink:href="assets/img/necromancers.svg#logout"/>
      </svg>
    </a>
  </div>
</div>
<div class="header-menu-toggle" id="header-menu-toggle">
  <div class="header-menu-toggle__inner">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </div>
</div>
</div>
