<div>
    <div class="match-score" >
        <div class="match-score__header">
            <div class="match-score__competition" >#{{match.matchIndex}}</div>
            <div class="match-score__date">{{match.date | date : 'dd/MM/yyyy hh:mm a'}}</div>
        </div>
        <div class="match-score__body">
            <figure class="match-team" role="group">
                <figure class="match-team-logo match-team-logo--team-1" role="group">
                    <img src="assets/img/samples/logo-necromancers-42.png" srcset="assets/img/samples/logo-necromancers-42@2x.png 2x" alt="Necromancers Logo">
                </figure>
                <figcaption>
                    <div class="match-team__name">{{match.teamAName ? match.teamAName : "TBA"}}</div>
                        <div class="match-team__country ">None</div>
                </figcaption>
            </figure>
            <div class="match-result match-result--live">
                <span class="match-result__score">{{match.teamAWinCounts}} : {{match.teamBWinCounts}}</span>
                <span class="match-result__label">{{match.bracketFormatName}}</span>
            </div>
            <figure class="match-team" role="group">
                <figure class="match-team-logo match-team-logo--team-2 right" role="group">
                    <img src="assets/img/samples/logo-rhinos-42.png" srcset="assets/img/samples/logo-rhinos-42@2x.png 2x" alt="Raging Rhinos Logo">
                </figure>
                <figcaption>
                    <div class="match-team__name">{{match.teamBName ? match.teamBName : "TBA"}}</div>
                        <div class="match-team__country ">None</div>
                </figcaption>
            </figure>
        </div>
        <div class="match-score__footer">
            <a  (click)="openTeamdetail(match.teamA)"><img  class="match-team-logo" src="assets/img/samples/team-selection-thumb-team.png" alt="Lit Team Logo"></a>
            
            <ul class="match-stats-links">
                <li>
                    <a (click)="navigateToBracketDetail()">
                        <svg role="img" class="df-icon df-icon--stats">
                            <use xlink:href="assets/img/necromancers.svg#stats"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <a  (click)="openTeamdetail(match.teamB)"><img  class="match-team-logo" src="assets/img/samples/team-selection-thumb-team.png" alt="Lit Team Logo"></a>
            
          </div>
    </div>
</div>