.match-team-logo--team-1:before {
  border-color: red;
}
.match-team-logo--team-2:before {
  border-color: blue;
}

.match-team-logo img {
  opacity: 0;
}

@media (min-width: 992px) {
  .match-score .match-team {
    max-width: 35% !important;
    flex: 1 0 35% !important;
  }

  .match-team__name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.match-score {
  cursor: pointer;
}
