@import "../../../../../../styles.scss";

.scrim-table table tbody tr td.clans-column span {
  text-decoration: underline;
  cursor: default;
}

.scrim-table table tbody tr td.clans-column span:hover {
  color: $lt-main-color;
}
