@import "../../../../../../styles.scss";

.scrim-table table tbody tr td.clans-column span {
  cursor: pointer;
  text-decoration: underline;
}

.scrim-table table tbody tr td.clans-column span:hover {
  color: $lt-main-color;
}
