<div class="site-wrapper " id="lit-site-wrapper" >

  <!-- Header
  ================================================== -->
  <header id="header" class="site-header site-header--bottom">
  
    <!-- Logo - Image Based -->
    <app-header-logo></app-header-logo>
    <!-- Logo - Image Based / End -->
  
    <!-- Main Navigation -->
   <app-main-nav></app-main-nav>
    <!-- Main Navigation / End -->
  
    <!-- Header Actions -->
    <app-header-actions></app-header-actions>
  
    <!-- Header Actions / End -->
  </header>
  <!-- Header / End -->

  <!-- Content
  ================================================== -->
  <main class="site-content" id="wrapper">
    <router-outlet></router-outlet>
  </main>

  <!-- Overlay -->
  <div class="site-overlay"></div>
  <!-- Overlay / End -->

  <!-- Cart Panel -->
  <div class="cart-panel">
   <app-cart-panel></app-cart-panel>
  </div>
  <!-- Cart Panel / End -->

    <!-- Fire Panel -->
    <div class="cart-panel fire-panel">
      <app-notification-panel></app-notification-panel>
     </div>
     <!-- Fire Panel / End -->


  <!-- Search Panel -->
  <div class="search-panel">
    <app-search-panel></app-search-panel>
  </div>
  <!-- Search Panel / End -->
  <!-- Menu Panel -->
  <div class="menu-panel" id="lit-menu-panel">
    <app-menu-panel></app-menu-panel>
  </div>
  
  <!-- Menu Panel / End -->

</div>

<div class="preloader-overlay">
  <div id="js-preloader" class="preloader">
    <div class="preloader-inner fadeInUp">
      <div class="pong-loader"></div>
      <svg role="img" class="df-icon df-icon--preloader-arcade">
        <use xlink:href="assets/img/necromancers.svg#preloader-arcade"/>
      </svg>
    </div>
  </div>
</div>

<!-- The cursor elements -->
<!-- <div class="df-custom-cursor-wrap">
  <div id="df-custom-cursor"></div>
</div> -->