<div class="easter-event-container">
    <div class="easter-event-header">
        <div class="easter-event-name">{{(state.state$ | async)?.event.eventName}}</div>
        <div class="easter-event-current-stage">Current Stage : {{(state.state$ | async)?.currentOpenStage?.eventStageName}}</div>
        <div class="easter-event-actions">
            <input type="text" class="form-control" placeholder="Put Game ID Here" [(ngModel)]="gameId">
            <button type="button" class="btn btn-sm btn-secondary" [disabled]="submitDisable" (click)="postGameResult()">Submit</button>
            <i class="fas fa-trophy" title="Event Ladder" (click)="state.getLadder()"></i>
            <i class="fas fa-question-circle" title="How to play this event?" (click)="state.getHelp()"></i>
        </div>
    </div>
    <div class="easter-event-content">
        <div class="stage" [ngClass]="{'closed' : stage.eventStageStatusId == 1 }" 
        *ngFor="let stage of (state.state$ | async)?.eventStageSimple">
            <div class="stageMask">
                <div class="stage-action">
                    <button class="btn btn-secondary" 
                    type="button" 
                    *ngIf="stage.eventStageStatusId == 2" 
                    (click)="state.setCurrentStoryBoard(stage.eventStageId)">READ STORY</button>

                    <button class="btn btn-secondary" 
                    type="button" 
                    *ngIf="stage.eventStageStatusId == 2"
                    (click)="state.getTask(stage.eventStageId)">CHECK QUESTS</button>
                </div>
               <i class="fas fa-lock" *ngIf="stage.eventStageStatusId == 1 "></i>
            </div>
            <img class="stageImage" 
            [src]="stage.eventStageImage">
        </div>
    </div>
</div>

<app-easter-event-storyboard *ngIf="state.isStory" [@slideLeftAnimation] (return)="returnFromStage($event)"></app-easter-event-storyboard>
<app-easter-event-tasks *ngIf="state.isTask" [@slideLeftAnimation] (return)="returnFromTask($event)"></app-easter-event-tasks>
<app-easter-event-ladder *ngIf="state.isLadder" [@slideLeftAnimation] (return)="returnFromLadder($event)"></app-easter-event-ladder>
<app-easter-event-help *ngIf="state.isHelp" [@slideLeftAnimation] (return)="returnFromHelp($event)"></app-easter-event-help>