<div class="scrim-section-header">
    <h5>Create a new scrim</h5>
    <b>Please read before create a scrim!</b>
    <p>
        1. Currently, we only support Scrim for 5v5 tournament draft mode and summoner's rift. <br>
        2. You game detail will be recorded for our future feature "Reporting".  <br>
        3. Tournament code will be provided to both Clan 1 hour before the scrim's Start Time.  <br>
        4. You cannot change opponent after choosen one. You can remove the scrim to make a new one. <br>
        5. You can have up to 3 active (un-removed) scrims in the next 7 days. Please manage your time well <br>
        6. You can use the tournament code for repeated games during your scrim.  <br>
        7. Do not use the tournament code for other purpose other than Scrim. You may get banned if the tournament code is being abused. <br>
        9. Need help with more information, please contact our discord staff.
    </p>
</div>
<form class="form" [formGroup]="detailForm">
    <div class="error-list" *ngIf="errors && errors.length > 0">
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Start Time</label>
                <input class="form-control" type="datetime-local" formControlName="date">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Game Format?</label>
                <select class="form-control" formControlName="gameFormatId">
                    <option *ngFor="let type of types" [ngValue]="type.bracketFormatId">{{type.bracketFormatName}}</option>
                </select>
                <span class="form-notice" >How manyt games you want to play?</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Min Rank</label>
                <select class="form-control" formControlName="minRankId">
                    <option *ngFor="let rank of ranks" [ngValue]="rank.teamRankId">{{rank.teamRankName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Max Rank</label>
                <select class="form-control" formControlName="maxRankId">
                    <option *ngFor="let rank of ranks" [ngValue]="rank.teamRankId">{{rank.teamRankName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" formControlName="gameDescription"></textarea>
                <span class="form-notice" >No more than 100 characters</span>            
            </div>
        </div>
    </div>
</form>

<div class="form-group d-sm-flex justify-content-sm-between align-items-sm-center action-bar">
    <button class="btn btn-secondary" [disabled]="submitDisable" (click)="submit()">Create</button>
</div>