<div class="scrim-section-header">
    <h5>Create a new scrim</h5>
    <p>Currently, we only support Scrim for tournament-draft and Summoner's rift. 
        We do not keep match record for scrim.
        Tournament code will be provided to both team 1 hour before the scrim's Start Time.
        Please use this tournament code repeatly for multiple game if needed.
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Start Time</label>
            <input class="form-control" type="datetime-local">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>How Many Games?</label>
            <select class="form-control" >
                <option value=1>Best of One</option>
                <option value=1>Best of Three</option>
                <option value=1>Best of Five</option>
            </select>
            <span class="form-notice" >Currently we only support league of legends in OCE region</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Min Rank</label>
            <select class="form-control" >
                <option value=1>League of legends (OCE)</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Max Rank</label>
            <select class="form-control" >
                <option value=1>League of legends (OCE)</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group d-sm-flex justify-content-sm-between align-items-sm-center action-bar">
    <button class="btn btn-secondary">Create</button>
</div>