<div class="page-heading page-heading--default text-small text-center w-100">
    <div class="page-heading__subtitle h5">
        <span class="color-primary">{{tournamentTime | date : 'medium'}} </span> 
    </div>
    <h1 class="page-heading__title h3">{{tournamentName}}</h1>
    <a class="btn btn-md btn-primary marg-r-20" *ngIf="isActive"  (click)="register()">{{isRegistered ? "View My Team" : "Register AS Team"}}</a>
    <a class="btn btn-md btn-primary"  (click)="registerAsFreeAgentFn()" *ngIf="!isRegistered && !isRegisteredAsFreeAgent && isActive">Register As Free Agent</a>
</div>