<div class="page-heading page-heading--default text-small text-center w-100">
    <div class="page-heading__subtitle h5">
        <span class="color-primary">{{tournamentTime | date : 'medium'}} </span> 
    </div>
    <h1 class="page-heading__title h3">{{tournamentName}}</h1>
    <a class="btn btn-md btn-warning"  (click)="register()">{{isRegistered ? "View My Team" : "Register AS Team"}}</a>
    <a class="btn btn-md btn-warning"  (click)="registerAsFreeAgentFn()" *ngIf="!isRegistered && !isRegisteredAsFreeAgent">Register As Free Agent</a>
</div>