<div class="page-heading page-heading--default w-100">
    <h1 class="page-heading__title h3">Free Agents</h1>
</div>
<div class="row mt-sm-auto mb-sm-auto">
  <div class="table-responsive mt-sm-auto mb-sm-auto">
    <table class="table matches-table standings-table">
        <thead>
            <tr>
                <th>User</th>
                <th>GameID</th>
                <th>Position</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of (state.free_agents$ | async);let i = index">
              <td class="first-td">{{player.player.gameId}}</td>
              <td >{{player.account.gameUniqueName}}<a class="op-gg"  [href]="getOpGG(player.account.gameUniqueName)" target="_blank">op.gg</a></td>
              <td>{{getPositonText(player.account.position)}}</td>
              <td>{{player.account.myDescription}}</td>
              <td><button class="btn btn-primary" (click)="invite(player.account.gameUniqueName)">Invite to my team</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>