<div class="scrim-section-header" *ngIf="amIOwner">
    <button class="btn btn-sm btn-primary" ><a (click)="createNewScrim()">Add New Scrim</a></button>
</div>
<div class="scrim-section-header" *ngIf="!amIOwner">
    <p>You can only create Scrim if you are an owner of Clan.</p>
    <p>Create a new Clan Click <a [routerLink]="['/account/clan']">Here</a></p>
</div>
<div class="scrim-tabs">
    <div class="tab" [ngClass]="{'active':scrimTabs == 1}" (click)="scrimTabs = 1">
        Upcoming Scrims
    </div>
    <div class="tab" [ngClass]="{'active':scrimTabs == 2}" *ngIf="amIOwner" (click)="scrimTabs = 2">
        My Scrims
    </div>
    <div class="tab" [ngClass]="{'active':scrimTabs == 3}" (click)="scrimTabs = 3">
        History Scrims
    </div>
</div>
<upcoming-scrims *ngIf="scrimTabs == 1"></upcoming-scrims>
<my-scrims [_amIOwner]="amIOwner" *ngIf="scrimTabs == 2"></my-scrims>
<history-scrims *ngIf="scrimTabs == 3"></history-scrims>
