@import "../../../../../styles.scss";
:host {
  max-width: 960px;
  min-width: 420px;
  width: 100%;
}
.scrim-section-header,
.time-block-container,
.scrim-table,
.scrim-controller {
  width: 100%;
  overflow-y: auto;
}
