// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lit-team-ui-v3-primary: mat-palette($mat-indigo);
$lit-team-ui-v3-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lit-team-ui-v3-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lit-team-ui-v3-theme: mat-light-theme(
  (
    color: (
      primary: $lit-team-ui-v3-primary,
      accent: $lit-team-ui-v3-accent,
      warn: $lit-team-ui-v3-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lit-team-ui-v3-theme);

app-header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}

/** ##overide angular material **/
.cdk-overlay-container {
  z-index: 999999;
}

/**  ##mixin **/
$lt-main-text-color: rgb(58, 58, 58);
$lt-main-color: rgb(255, 224, 0);
$lt-main-light-color: #ee7b3c;
$lt-secondary-color: #06111b;
$lit-light-color: #0d2236;
$lt-danger: rgb(160, 6, 6);
$lt-success: rgb(55, 163, 5);
$lt-light-text-color: rgb(129, 153, 183);
$lt-border-color: rgb(53, 63, 75);

@mixin for-small-only {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

@mixin for-large-up {
  @media only screen and (min-width: 801px) {
    @content;
  }
}

/**  ##button **/
button[type="button"]:disabled {
  background-color: #666666 !important;
}

/**  ##error-list  **/
.error-list ul {
  border-radius: 12px;
  list-style: none;
  padding: 12px;
  background-color: rgb(160, 6, 6);
}

.error-list ul li {
  color: #fff;
}

/** ##snackbar **/
.snackbar-success {
  background-color: rgb(55, 163, 5);
  color: #fff;
}

.snackbar-error {
  background-color: rgb(160, 6, 6);
  color: #fff;
}

.snackbar-loading {
  background-color: rgb(8, 52, 78);
  color: #fff;
}

.snackbar-loading::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: $lt-main-color;
  animation-name: snack-bar-loading-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 99999;
}

@keyframes snack-bar-loading-animation {
  0% {
    left: calc(0%);
    opacity: 0.3;
  }
  15% {
    left: calc(15%);
    opacity: 1;
  }
  30% {
    left: calc(30%);
    opacity: 1;
  }
  45% {
    left: calc(45%);
    opacity: 1;
  }
  60% {
    left: calc(60%);
    opacity: 0.7;
  }
  100% {
    left: calc(75%);
    opacity: 0;
  }
}

/**Registration Form**/
.registration-overlay {
  left: 0;
  z-index: 1100;
  width: 100%;
  height: calc(100% - 72px);
  position: fixed;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 320ms ease;
  transition: visibility 0s, opacity 320ms ease;
}

.registration-overlay-active .registration-overlay {
  visibility: visible !important;
  opacity: 1 !important;
  background-color: rgba(21, 23, 32, 0.96) !important;
  top: 0 !important;
}

.registration-form {
  position: fixed;
  overflow-y: scroll;
  z-index: 1101;
  left: 100%;
  height: calc(100% - 72px);
  width: 100%;
  padding: 30px 15px;
  text-align: left;
  -webkit-transition: -webkit-transform ease 440ms 0ms;
  transition: -webkit-transform ease 440ms 0ms;
  transition: transform ease 440ms 0ms;
  transition: transform ease 440ms 0ms, -webkit-transform ease 440ms 0ms;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  color: #fff;
  background-color: #222430;
  top: 0;
}

.registration-overlay-active .registration-form {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

@media (min-width: 992px) {
  .registration-form {
    width: 700px;
  }
}
