<div class="match-overview mt-sm-auto mb-sm-auto">
    <div class="match-overview__body">
        <figure class="match-team" role="group">
            <figure class="match-team-logo match-team-logo--team-1" role="group">
                <img src="assets/img/samples/logo-necromancers-180.png" srcset="assets/img/samples/logo-necromancers-180@2x.png 2x" alt="Necromancers Logo">
            </figure>
            <figcaption>
                <div class="match-team__name">{{(state.championship$ | async) ? (state.championship$ | async).champion.name : "ETA"}}</div>
                    <div class="match-team__country ">Champion Team</div>
            </figcaption>
        </figure>
        <div class="col-md-4">
            <div class="match-overview__result">
                <div class="match-result match-result--winner-right">
                    <span class="match-result__score" *ngIf="(state.championship$ | async)?.championWins && (state.championship$ | async)?.secondPlaceWins">0 : 0</span>
                    <span class="match-result__label" *ngIf="(state.championship$ | async)?.championWins && (state.championship$ | async)?.secondPlaceWins">Final score</span>
                </div>
            </div>
        </div>
        <figure class="match-team" role="group">
            <figure class="match-team-logo match-team-logo--team-2" role="group">
                <img src="assets/img/samples/logo-rhinos-180.png" srcset="assets/img/samples/logo-rhinos-180@2x.png 2x" alt="Raging Rhinos Logo">
            </figure>
            <figcaption>
                <div class="match-team__name">{{(state.championship$ | async) ? (state.championship$ | async).secondPlace.name : "ETA"}}</div>
                    <div class="match-team__country ">2nd Place Team</div>
            </figcaption>
        </figure>
    </div>
    <ul class="match-overview__footer list-unstyled">
        <li>
            <span>Tournament Mode</span> {{(state.detail$ | async).gameType}}
        </li>
        <li>
            <span>Ranks</span>{{(state.detail$ | async).minTeamRank}} - {{(state.detail$ | async).maxTeamRank}} 
        </li>
        <li>
            <span>Game Mode</span> {{(state.detail$ | async).tournamentFormat}}
        </li>
        <li>
            <span>Prodraft</span>Mandatory
        </li>
        <li>
            <span>Total Price</span>{{(state.detail$ | async).prizePool | currency}}
        </li>
    </ul>
</div>