<div class="match-overview mt-sm-auto mb-sm-auto">
    <div class="match-overview__body">
        <figure class="match-team" role="group">
            <figure class="match-team-logo match-team-logo--team-1" role="group">
                <img src="assets/img/samples/logo-necromancers-180.png" srcset="assets/img/samples/logo-necromancers-180@2x.png 2x" alt="Necromancers Logo">
            </figure>
            <figcaption>
                <div class="match-team__name">ETA</div>
                    <div class="match-team__country ">Champion Team</div>
            </figcaption>
        </figure>
        <div class="col-md-4">
            <div class="match-overview__result">
                <div class="match-result match-result--winner-right">
                    <span class="match-result__score">0 : 0</span>
                    <span class="match-result__label">Final score</span>
                </div>
            </div>
        </div>
        <figure class="match-team" role="group">
            <figure class="match-team-logo match-team-logo--team-2" role="group">
                <img src="assets/img/samples/logo-rhinos-180.png" srcset="assets/img/samples/logo-rhinos-180@2x.png 2x" alt="Raging Rhinos Logo">
            </figure>
            <figcaption>
                <div class="match-team__name">ETA</div>
                    <div class="match-team__country ">2nd Place Team</div>
            </figcaption>
        </figure>
    </div>
    <ul class="match-overview__footer list-unstyled">
        <li>
            <span>Tournament Mode</span>Tournament Draft
        </li>
        <li>
            <span>Ranks</span>Iron IV - Diammon IV
        </li>
        <li>
            <span>Game Mode</span> 5v5
        </li>
        <li>
            <span>Prodraft</span>Mandatory
        </li>
        <li>
            <span>Total Price</span>$75
        </li>
    </ul>
</div>