<h4 class="cart-panel__title text-white">Lit Team Notifications (<span class="cart-panel__items-count">{{(app.invitations$ | async).length}}</span>)</h4>
<div class="cart-panel__content">
  <div class="table-responsive">
    <table class="table shop-table">
      <thead>
        <tr>
          <th class="product__info"></th>
          <th class="product__quantity"></th>
          <th class="product__total"></th>
        </tr>
      </thead>
      <!---*ngFor="let inv of (app.invitations$ | async)"  [src]="team.team.iconUrl"-->
      <tbody>
        <tr *ngFor="let inv of (app.invitations$ | async)" >
          <td class="product__info">
            <figure class="product__thumb">
              <a><img  [src]="team.team.iconUrl" alt=""></a>
            </figure>
            <div class="product__info-content">
              <h5 class="product__name"><a>{{team.team.name}}</a></h5>
              <span class="product__cat">none</span>
              <span class="product__info-details">you have received an invitation from this team.</span>
            </div>
          </td>
          <td class="product__remove">
            <svg role="img" class="df-icon df-icon--bag"><use xlink:href="assets/img/necromancers.svg#thumb-up"></use></svg>
          </td>
          <td class="product__remove">
            <svg role="img" class="df-icon df-icon--bag"><use xlink:href="assets/img/necromancers.svg#close"></use></svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>