<h4 class="cart-panel__title text-white">Lit Team Notifications (<span class="cart-panel__items-count">{{(app.invitations$ | async).length}}</span>)</h4>
<div class="cart-panel__content">
  <div class="table-responsive">
    <table class="table shop-table notification-table">
      <thead>
        <tr>
          <th class="product__info"></th>
          <th class="product__quantity"></th>
          <th class="product__total"></th>
        </tr>
      </thead>
      <!---*ngFor="let inv of (app.invitations$ | async)"  [src]="team.team.iconUrl"-->
      <tbody *ngFor="let notification of (app.notifications$ | async); let i = index">
        <tr clan-invite-notification [data]="notification.data" [index]="i" *ngIf="notification.type == 1" >
        </tr>
        <tr tournament-invite-notification [data]="notification.data" [index]="i" *ngIf="notification.type == 2">
        </tr>
        
      </tbody>
    </table>
  </div>
</div>