<div class="account-navigation">
    <div class="account-navigation__header">
        <a class="account-navigation__logout" href="./">
            <svg role="img" class="df-icon df-icon--logout-circle">
                <use xlink:href="assets/img/necromancers.svg#logout-circle"/>
            </svg>
            <svg role="img" class="df-icon df-icon--logout-arrow">
                <use xlink:href="assets/img/necromancers.svg#logout-arrow"/>
            </svg>
        </a>
        <a class="account-navigation__avatar" href="#">
            <img src="assets/img/samples/account-user-avatar-lg.jpg" alt="">
            <span class="account-navigation__browse-icon">&nbsp;</span>
        </a>
        <div class="account-navigation__subtitle">Welcome back!</div>
        <div class="account-navigation__name h5">James Spiegel</div>
        <ul class="account-navigation__meta">
            <li>27<span>comments</span></li>
            <li>4<span>reviews</span></li>
            <li>1<span>orders</span></li>
        </ul>
    </div>
    <ul class="account-navigation__menu">
        <li><a href="shop-account-settings.html">Account settings</a></li>
        <li><a href="shop-account-shipping.html">Shipping details</a></li>
        <li><a class="active" href="shop-account-billing.html">Billing details</a></li>
        <li><a href="shop-account-orders.html">Orders history</a></li>
    </ul>
</div>