<div class="account-navigation__header">
    <a class="account-navigation__logout" (click)="auth.logout()">
        <svg role="img" class="df-icon df-icon--logout-circle">
            <use xlink:href="assets/img/necromancers.svg#logout-circle"/>
        </svg>
        <svg role="img" class="df-icon df-icon--logout-arrow">
            <use xlink:href="assets/img/necromancers.svg#logout-arrow"/>
        </svg>
    </a>
    <a class="account-navigation__avatar" onclick="alert('we dont support upload logo yet.')">
        <img src="assets/img/samples/account-user-avatar-lg.jpg" alt="">
        <span class="account-navigation__browse-icon">&nbsp;</span>
    </a>
    <div class="account-navigation__subtitle">Welcome back!</div>
    <div class="account-navigation__name h5">{{(auth.currentUserSubject | async)?.user?.gameId}}</div>
    <ul class="account-navigation__meta">
        <li>0<span>likes</span></li>
        <li>0<span>wins</span></li>
        <li>0<span>prize</span></li>
    </ul>
</div>
<ul class="account-navigation__menu">
    <li ><a [ngClass]="{'active': (state.menuState$ | async) == 1}" 
        [routerLink]="['/account/setting']">Account Detail</a></li>
    <li><a [ngClass]="{'active': (state.menuState$ | async) == 2}" 
        [routerLink]="['/account/games']">My Game Accounts</a></li>
    <!-- <li><a [ngClass]="{'active': (state.menuState$ | async) == 3}" 
        [routerLink]="['/account/clan']">My Clan</a></li> -->
</ul>